# Secrets
.env

# CLIs
.claude
.opencode
.codex
.pi
.openclaw
.a0proj
.playwright-cli

# WebSocket server
ws-server/node_modules/

# Reference materials
ref/
references/

.DS_Store
*.DS_Store

node_modules
